.healthbar {
    width: 80%;
    height: 40px;
    background-color: #eee;
    margin: auto;
    transition: width 500ms;
}

section {
  margin-bottom: 20px;
}

.card {
  width: 100%!important;
}

.turn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.log ul {
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
}

.log ul li {
    margin: 5px;
}

.log ul .player-turn {
    color: #4285F4;
    background-color: #e4e8ff;
}

.log ul .monster-turn {
    color: #CC0000;
    background-color: #ffc0c1;
}
